<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depth.management.mapper.AdjustmentApplyMapper">

    <select id="findByOrigin" resultType="adjustmentApply">
        SELECT adjustment_apply.*, department.`name` arrive_name, emp.`name` emp_name
        FROM adjustment_apply,department, emp
        WHERE adjustment_apply.origin=#{originId}
         AND adjustment_apply.arrive=department.department_id
         AND adjustment_apply.emp_id=emp.id
        ORDER BY update_time
    </select>

    <select id="findByArrive" resultType="adjustmentApply">
        SELECT adjustment_apply.*, department.`name` origin_name, emp.`name` emp_name
        FROM adjustment_apply,department, emp
        WHERE adjustment_apply.arrive=#{arriveId}
          AND adjustment_apply.origin=department.department_id
          AND adjustment_apply.emp_id=emp.id
        ORDER BY update_time
    </select>
</mapper>