<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depth.management.mapper.SalaryHistoryMapper">

    <select id="analyze" resultType="com.depth.management.common.vo.AnaSalaryVo">
        SELECT AVG(salary) 'avg', create_time from salary_history
        GROUP BY create_time
    </select>
</mapper>