<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depth.management.mapper.TrainEmpMapper">

    <select id="findEmpIdsByTrainId" resultType="long">
        SELECT emp_id FROM train_emp WHERE train_id=#{trainId}
    </select>

</mapper>