<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depth.management.mapper.VacateMapper">

    <select id="getAllByDepartment" resultType="com.depth.management.model.Vacate">
        select vacate.*, emp.name from vacate, emp where vacate.emp_id = emp.id AND emp.del_flg='0' and vacate.department_id=#{departmentId} order by up_time desc
    </select>


    <select id="getAllByEmpId" resultType="com.depth.management.model.Vacate">
        select vacate.*, emp.name from vacate, emp where vacate.emp_id = emp.id AND emp.del_flg='0' and emp_id=#{empId} order by up_time desc
    </select>

    <select id="getAll" resultType="com.depth.management.model.Vacate">
        select vacate.*, emp.name from vacate, emp where vacate.emp_id = emp.id AND emp.del_flg='0' order by up_time desc
    </select>
</mapper>